<h1 [title]="title">Angular In Action</h1>

<div class="cart-item">
  <img width="300" height="300" src="assets/images/item.jpg" alt="hard-drive">
  <div class="cart-item__title">Transecond hard drive easy to use and durable we can keep trust on this product</div>
  <div class="cart-item__price">{{price | currency : "USD"}}</div>
  <!-- more pipes can be added after myPercentage pipe like an example-->
  <!-- this special class binding use conditionally apply | also a method can be called-->
  <!--<div class="cart-item__discount">{{'discount' | uppercase}}: <span [class.highlight]="discount >= 10" >{{discount| myPercentage}}</span></div>-->
  <div class="cart-item__discount">{{'discount' | uppercase}}: <span [class.highlight]="shouldHighlight()" >{{discount| myPercentage}}</span></div>
  <!-- style binding in here also a logic can be applied-->
  <!--<div class="cart-item__final-price" [style.backgroundColor]="(price - (price * discount / 100)) > 100? 'yellow' : 'white'">${{price - (price * discount / 100)}}</div>-->
  <div class="cart-item__final-price" [style.backgroundColor]="priceChecker()">${{price - (price * discount / 100)}}</div>
</div>

<div class="control-panel">
  <div class="form-group">
    <label>Price:</label>
    <!-- this has been used property binding and event binding-->
    <!--<input #txtPrice id="txt-price" type="number" placeholder="Price" min="0" [value]="price" (input)="updatePrice(txtPrice.value)">-->
    <input type="number" placeholder="Price" min="0" [(ngModel)]="price">
  </div>

  <div class="form-group">
    <label>Discount:</label>
    <!-- this has been used property binding and event binding-->
    <!-- <input #txtDiscount id="txt-discount" type="number" placeholder="Discount" min="0" [value]="discount" (input)="updateDiscount(txtDiscount.value)">-->
    <input type="number" placeholder="Discount" min="0" [(ngModel)]="discount">
  </div>
</div>

<button (click)="changeToolTipHeader()">Tool Tip Change Button</button>
